
DerivedData/
build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/categories.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/decls.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/cdecls.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/files.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/imports.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/pbxindex.header

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/protocols.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/refs.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/strings.pbxstrings/control

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/strings.pbxstrings/strings

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/subclasses.pbxbtree

build/HyperopicBarcode.build/HyperopicBarcode.pbxindex/symbols0.pbxsymbols
